name: Build Release

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    
    - name: Restore dependencies
      run: dotnet restore Appet/Appet.csproj
    
    - name: Publish Windows x64
      run: dotnet publish Appet/Appet.csproj -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true -o ./publish/win-x64
    
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Appet-Windows-x64
        path: ./publish/win-x64/Appet.exe
        retention-days: 90
